@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}

@layer base {
	html {
		@apply bg-[#16171d];
	}

	html.dark {
		@apply bg-[#d1d5de];
	}
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--animate-marquee: marquee 8s linear infinite;
	--animate-marquee-reverse: marquee-reverse 8s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@keyframes marquee-reverse {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0);
	}
}
